Source: libfontenc
Section: gui
Priority: optional
Maintainer: Alexander Shishkin <virtuoso@slind.org>
XCS-Cross-Host-Build-Depends: debhelper (>= 4.0.0), pkg-config
XCS-Cross-Build-Depends: x11proto-core-dev (>= 6.8.99.15+cvs.20050722-1), zlib1g-dev
Build-Depends: debhelper (>= 4.0.0), x11proto-core-dev (>= 6.8.99.15+cvs.20050722-1), zlib1g-dev, pkg-config
Standards-Version: 3.6.1.0

Package: libfontenc1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 font encoding library
 libfontenc is a library which helps font libraries portably determine
 and deal with different encodings of fonts.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/fontenc' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: libfontenc1-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfontenc1 (= ${Source-Version})
Description: X11 font encoding library (debug package)
 libfontenc is a library which helps font libraries portably determine
 and deal with different encodings of fonts.
 .
 This package contains the debug versions of the library found in libfontenc1.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/fontenc' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg

Package: libfontenc-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfontenc1 (= ${Source-Version}), zlib1g-dev
Description: X11 font encoding library (development headers)
 libfontenc is a library which helps font libraries portably determine
 and deal with different encodings of fonts.
 .
 This package contains the development headers for the library found in
 libfontenc1.  Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/fontenc' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg
